@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wikia.com") {

	#WikiaFooter,			/* Footer */
	.global-footer,			/* More footer */
	#WikiaBar,				/* Floating bottom bar */

	#WikiaRail,				/* Waste of space sidebar */
	#PageShareToolbar,		/* Social media sharing icons */
	#WikiaArticleBottomAd,	/* Adverts */
	.SearchAdsTopWrapper, /* More adverts */
	.hubs-entry-point, /* Nav hamburger */
	.WikiaNotifications /* Toast */
	{
		display:none;
	}
	
	.start-wikia-container,  /* Create a wiki on the worst wiki hosting website? */
.account-navigation-container, /* No logins */
	.wikia-logo-container
	{
		display: none !important;
	}

	.WikiaMainContent /* Make the main content the only content*/
	{
		width:100%;
	}
	
		
	#globalNavigation{
	position: static !important;
		background: transparent;
		box-shadow: none; 
	}
	.search-form-wrapper{
				margin-left:59px;
	}
	.search-form-wrapper .search-form{
		width: 50%;

	}

	.page-share-container /* Fixes the page count taking up too much vertical space*/
	{
		height: auto;
	}

	.WikiaPage{
		width: 1024px;
	}
	
	/* Fixes width on search results with advert removed */
	.results-wrapper{
		width: 82%;
	}

	/* Disables the font shifting media query */

	.WikiaPage .WikiaArticle li {
		line-height:inherit;
	}

	.WikiaPage h1,.WikiaPage .WikiaRail .module h3,.WikiaRail .module .WikiaPage h3 {
		font-size:28px;
		line-height:28px;
	}

	.WikiaPage h2 {
		font-size:20px;
		line-height:22px;
	}

	.WikiaPage h3 {
		font-size:17px;
		line-height:22px;
	}

	.WikiaPage h4 {
		font-size:15px;
		line-height:22px;
	}

	.WikiaPage .WikiaArticle,.WikiaPage .wikia-page-header h2 {
		font-size:14px;
		line-height:22px;
	}


}
